---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
       <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

        <h2>
           <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></br>
                        {{ post.content | split:"<!-- more -->" | first | strip_html | truncate:650 }}
                                      {% if post.content | size > 650 %}
                                  <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
{% endif %}
  </h2>
      </li>
    {% endfor %}
  </ul>

 

</div>
